.form {
    max-width: 392px;
    width: 100%;
}  

.card-align{
    padding-left: 55%;
    padding-right: 15%;
    padding-top: 3%;
}

.input-elements{
    margin-left: 18px;
    margin-top: 10%;
    display: inline-flex; 
    width: 100%;
}
