<div class="page-background">
  <div class="container">
    <div class="logo">
      <img src="assets/logo.png" width="500px" height="500px" alt="Logo">
    </div>
    <div class="form-container">
      <mat-card>
        <mat-card-title style="padding: 12px;">
          Entrar
        </mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-content style="margin: 10%;">
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <mat-form-field class="input-elements">
              <mat-label>Email</mat-label>
              <input type="email" matInput formControlName="email" placeholder="Ex. pat@example.com">
              <mat-error *ngIf="loginForm.get('email')?.hasError('email') && !loginForm.get('email')?.hasError('required')">
                Por favor, insira um endereço de e-mail válido
              </mat-error>
              <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
                E-mail é <strong>obrigatório</strong>
              </mat-error>
            </mat-form-field>
            <mat-form-field class="input-elements">
              <mat-label>Senha</mat-label>
              <input type="password" matInput formControlName="password" placeholder="*********">
              <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
                Senha é <strong>obrigatória</strong>
              </mat-error>
            </mat-form-field>  
            <div class="input-elements" style="margin-top: 0px; text-decoration: underline;">
              <span>Redefinir Senha</span>
            </div>     
            <div class="row-button">
              <button type="submit" mat-raised-button color="primary" [disabled]="loginForm.invalid">Entrar</button>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
