.page-background {
    height: 100vh;
    background: rgb(255, 246, 229)
}

.card-align{
    margin-top: 14%;
    margin-right: 18%;
    margin-left: 18%;
}

.input-elements{
    margin-top: 8%;
    display: inline-flex; 
    width: 100%;
}

.row-button{
    display: flex;
    justify-content: end;
}